<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="apellidos" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Fecha Nacimiento</ion-label>
      <ion-datetime
        [(ngModel)]="fechaNacimiento" [ngModelOptions]="{standalone:true}"
        displayFormat="DD/MMMM/YYYY"
        monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
        cancelText="Cancelar"
        doneText="Hecho"
        ></ion-datetime>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confPassword" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="text" pattern="[0-9]{8}[A-Z]{1}" [(ngModel)]="DNI" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="text" minlength=9 maxlength=12 required [(ngModel)]="numTelf" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Localidad</ion-label>
      <ion-input type="text" [(ngModel)]="localidad" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>


    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Lesiones anteriormente</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" value="si"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>


    <ion-item>
      <ion-textarea placeholder="En caso afirmativo, cuéntanos de qué se trata..."></ion-textarea>
    </ion-item>


    <ion-list>
      <ion-list-header>
        <ion-label>Objetivo</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let entry of form" >
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="end" [ngModelOptions]="{standalone: true}" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>


    <ion-item lines="full">
      <ion-label position="floating">¿Cómo nos conociste?</ion-label>
      <ion-select [(ngModel)]="comoNosConociste" [ngModelOptions]="{standalone: true}" como ok-text="Confirmar" cancel-text="Cancelar" required>
        <ion-select-option value="pagWeb">Página Web</ion-select-option>
        <ion-select-option value="facebook">Facebook</ion-select-option>
        <ion-select-option value="twitter">Twitter</ion-select-option>
        <ion-select-option value="tripAdvisor">TripAdvisor</ion-select-option>
        <ion-select-option value="youTube">YouTube</ion-select-option>
        <ion-select-option value="periodoDigital">Periódico Digital</ion-select-option>
        <ion-select-option value="amigos">Amigos</ion-select-option>
        <ion-select-option value="familiares">Familiares</ion-select-option>
        <ion-select-option value="otros">Otros</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer style="background-color: cornsilk; color: crimson;">
  <span>Al registrarte, aceptas nuestra 
    <a (click)="abrirPoliticaPrivacidadBlank()" style="color: crimson; font-weight: bold;">Política de Privacidad</a>, 
    <a (click)="abrirNormasCentroBlank()" style="color: crimson; font-weight: bold;">Normas del Centro</a> y 
    <a (click)="abrirAvisoLegalBlank()" style="color: crimson; font-weight: bold;">Condiciones de Uso</a>
    .
  </span>
</ion-footer>
